{% extends 'layoutBase.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Modification de mes informations{{ parent() }}{% endblock %}
{% block body %}
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Mes informations</h3>
            </div>
            <div class="box-body">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'profile.edit.submit'|trans }}">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
