<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Facture N°{{ order.invoiceNumber }} - Webmaster EntityCorp</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/pdf.css')) }}" media="all">
</head>
<body>
    <header class="clearfix">
        <div id="logo">
            <a href="#"><img src="{{ absolute_url(asset('img/nubox_logo.png')) }}" border="0"></a>
        </div>
        <div id="company">
            <h2 class="name">Website EntityCorp</h2>
            <div>25 Rue de la pelouse verte</div>
            <div>75120 Paris</div>
            <div><a href="mailto:contact@company.com">contact@company.com</a></div>
        </div>
    </header>
    <main>
        <div id="details" class="clearfix">
            <div id="client">
                <div class="to">Facture pour :</div>
                <h2 class="name">{{ user.username }}</h2>
                <div class="email"><a href="mailto:{{ user.email }}">{{ user.email }}</a></div>
            </div>
            <div id="invoice">
                <h1>Facture {{ order.invoiceNumber }}</h1>
                <div class="date">Date de création : {{ order.created|localizeddate('long', 'none', locale) }}</div>
                <div class="gateway">
                    Méthode de paiement : {{ order.gateway|capitalize }}
                </div>
                <div class="transid">
                    Numéro de transaction : {{ order.paymentId }}
                </div>
            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">Réf.</th>
                    <th class="desc">Description</th>
                    <th class="unit">Prix Unitaire</th>
                    <th class="qty">Quantité</th>
                    <th class="total">Montant</th>
                </tr>
            </thead>
            <tbody>
                {% set amountTotal = 0 %}
                {% for item in order.products %}
                    {% set amountTotal = amountTotal + (item.product.price * item.quantity) %}
                    <tr>
                        <td class="no">{{ item.product.reference }}</td>
                        <td class="desc">{{ item.product.name }}</td>
                        <td class="unit">{{ item.product.price|number_format(2, ',', ' ') }} €</td>
                        <td class="qty">{{ item.quantity }}</td>
                        <td class="total">{{ (item.product.price * item.quantity)|number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Montant Total</td>
                    <td>{{ amountTotal|number_format(2, ',', ' ') }} €</td>
                </tr>
            </tfoot>
        </table>
        <div id="thanks">Merci et à bikentôt !</div>
        <div id="notices">
            <div>Facture réglée le :</div>
            <div class="notice">{{ order.created|localizeddate('long', 'none', locale) }}</div>
        </div>
    </main>
    <footer>
        Website EntityCorp
    </footer>
</body>
</html>
